Code/Project_20/Project_20_import_Node-RED_flow.txt
[{"id":"d65fe56.5b89418","type":"rpi-gpio out","z":"40001313.40791c","name":"Enable M1","pin":"29","set":"","level":"0","out":"out","x":878,"y":250,"wires":[]},{"id":"dbe323a8.78b4a","type":"rpi-gpio out","z":"40001313.40791c","name":"+ M1","pin":"13","set":"","level":"0","out":"out","x":856,"y":306,"wires":[]},{"id":"d335f3ef.2c8e4","type":"rpi-gpio out","z":"40001313.40791c","name":"- M1","pin":"18","set":"","level":"0","out":"out","x":858,"y":362,"wires":[]},{"id":"efbee7a8.8f9a28","type":"rpi-gpio out","z":"40001313.40791c","name":"Enable M2","pin":"11","set":"","level":"0","out":"out","x":877,"y":416,"wires":[]},{"id":"d12fe690.212908","type":"rpi-gpio out","z":"40001313.40791c","name":"+ M2","pin":"31","set":"","level":"0","out":"out","x":860,"y":463,"wires":[]},{"id":"6678d732.e82658","type":"rpi-gpio out","z":"40001313.40791c","name":"- M2","pin":"15","set":"","level":"0","out":"out","x":860,"y":517,"wires":[]},{"id":"adebbe34.43c2a","type":"ui_button","z":"40001313.40791c","name":"","group":"952ae9f1.7370e8","order":0,"width":0,"height":0,"passthru":false,"label":"Forward","color":"","bgcolor":"","icon":"fa-arrow-up","payload":"forward","payloadType":"str","topic":"","x":439,"y":293,"wires":[["80992854.6ad3c8"]]},{"id":"459cd803.a21468","type":"ui_button","z":"40001313.40791c","name":"","group":"952ae9f1.7370e8","order":0,"width":0,"height":0,"passthru":false,"label":"Left","color":"","bgcolor":"","icon":"fa-arrow-left","payload":"left","payloadType":"str","topic":"","x":430,"y":335,"wires":[["80992854.6ad3c8"]]},{"id":"f476aa35.e14b78","type":"ui_button","z":"40001313.40791c","name":"","group":"952ae9f1.7370e8","order":0,"width":0,"height":0,"passthru":false,"label":"Right","color":"","bgcolor":"","icon":"fa-arrow-right","payload":"right","payloadType":"str","topic":"","x":431,"y":378,"wires":[["80992854.6ad3c8"]]},{"id":"54f9b8c3.103248","type":"ui_button","z":"40001313.40791c","name":"","group":"952ae9f1.7370e8","order":0,"width":0,"height":0,"passthru":false,"label":"Reverse","color":"","bgcolor":"","icon":"fa-arrow-down","payload":"reverse","payloadType":"str","topic":"","x":439,"y":420,"wires":[["80992854.6ad3c8"]]},{"id":"f2acf720.9e3e88","type":"ui_button","z":"40001313.40791c","name":"","group":"952ae9f1.7370e8","order":0,"width":0,"height":0,"passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"fa-hand-paper-o","payload":"stop","payloadType":"str","topic":"","x":431,"y":460,"wires":[["80992854.6ad3c8"]]},{"id":"80992854.6ad3c8","type":"function","z":"40001313.40791c","name":"","func":"var msg1 = { payload: 0 }; \nvar msg2 = { payload: 0 };\nvar msg3 = { payload: 0 }; \nvar msg4 = { payload: 0 }; \nvar msg5 = { payload: 0 }; \nvar msg6 = { payload: 0 };\nif (msg.payload === \"forward\") {\n   msg1.payload = 1;\n   msg2.payload = 1;\n   msg4.payload = 1;\n   msg5.payload = 1;\n}\nelse if (msg.payload === \"left\") {\n   msg1.payload = 1;\n   msg2.payload = 1;\n}\nelse if (msg.payload === \"right\") {\n   msg4.payload = 1;\n   msg5.payload = 1;\n}\nelse if (msg.payload === \"reverse\") {\n   msg1.payload = 1;\n   msg3.payload = 1;\n   msg4.payload = 1;\n   msg6.payload = 1;\n}\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];","outputs":"6","noerr":0,"x":655,"y":370,"wires":[["d65fe56.5b89418"],["dbe323a8.78b4a"],["d335f3ef.2c8e4"],["efbee7a8.8f9a28"],["d12fe690.212908"],["6678d732.e82658"]]},{"id":"85135e7f.81d54","type":"ui_button","z":"40001313.40791c","name":"Poweroff","group":"979642d9.eabbd","order":0,"width":0,"height":0,"passthru":false,"label":"Poweroff","color":"","bgcolor":"red","icon":"fa-power-off","payload":"","payloadType":"str","topic":"","x":458,"y":605,"wires":[["ce2080f1.1c3b9"]]},{"id":"ce2080f1.1c3b9","type":"exec","z":"40001313.40791c","command":"/usr/bin/sudo","addpay":false,"append":"poweroff","useSpawn":"","timer":"","name":"Poweroff","x":642,"y":604.5,"wires":[[],[],[]]},{"id":"952ae9f1.7370e8","type":"ui_group","z":"","name":"Main","tab":"53e02181.cf324","disp":true,"width":"6"},{"id":"979642d9.eabbd","type":"ui_group","z":"","name":"Poweroff","tab":"53e02181.cf324","order":2,"disp":true,"width":"6"},{"id":"53e02181.cf324","type":"ui_tab","z":"","name":"Robot","icon":"dashboard"}]