Code/Project_17/Project_17_import_Node-RED_flow.txt
[{"id":"de9b231a.1a02c","type":"tab","label":"Flow 1"},{"id":"aca49001.dd1ed","type":"inject","z":"de9b231a.1a02c","name":"Off at 11PM","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 23 * * *","once":false,"x":200,"y":230,"wires":[["8ee3d13.d91eb3"]]},{"id":"8ee3d13.d91eb3","type":"rpi-gpio out","z":"de9b231a.1a02c","name":"LED 1 - GPIO 17","pin":"11","set":"","level":"0","out":"out","x":440,"y":230,"wires":[]},{"id":"712c2a21.fd8374","type":"ui_switch","z":"de9b231a.1a02c","name":"LED 1 - Switch","label":"LED 1","group":"3e309e92.011152","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":190,"y":289,"wires":[["8ee3d13.d91eb3"]]},{"id":"39c4721f.2f451e","type":"rpi-gpio out","z":"de9b231a.1a02c","name":"LED 2 - GPIO 18","pin":"12","set":"","level":"0","out":"pwm","x":455,"y":354,"wires":[]},{"id":"4ffe4b8a.0e3224","type":"ui_slider","z":"de9b231a.1a02c","name":"LED 2 - Slider","label":"LED 2","group":"3e309e92.011152","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":184,"y":355,"wires":[["39c4721f.2f451e"]]},{"id":"94e9a6c9.d067e8","type":"rpi-dht22","z":"de9b231a.1a02c","name":"DHT22 - GPIO 4","topic":"","dht":22,"pintype":"0","pin":"4","x":381,"y":461,"wires":[["38bc9199.f4c8be","9e9213a6.dba38"]]},{"id":"b42f3acb.c3e228","type":"inject","z":"de9b231a.1a02c","name":"Read DHT22","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"x":198,"y":459,"wires":[["94e9a6c9.d067e8"]]},{"id":"9e9213a6.dba38","type":"function","z":"de9b231a.1a02c","name":"Get humidity","func":"msg.payload = msg.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":578.25,"y":501.75,"wires":[["16c12704.519d79"]]},{"id":"38bc9199.f4c8be","type":"ui_chart","z":"de9b231a.1a02c","name":"Temperature - Chart","group":"3e309e92.011152","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":629.5,"y":420,"wires":[[],[]]},{"id":"16c12704.519d79","type":"ui_gauge","z":"de9b231a.1a02c","name":"Humidity- Gauge","group":"3e309e92.011152","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#77bbff","#379bff","#004a95"],"seg1":"","seg2":"","x":756,"y":503,"wires":[]},{"id":"e66f84f2.860ea8","type":"inject","z":"de9b231a.1a02c","name":"On at 7PM","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 19 * * *","once":false,"x":195,"y":170.00000286102295,"wires":[["8ee3d13.d91eb3"]]},{"id":"3e309e92.011152","type":"ui_group","z":"","name":"Dashboard","tab":"e7a3e0ed.cd0ab","disp":true,"width":"6"},{"id":"e7a3e0ed.cd0ab","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]